body {
  margin-inline: 0;
}

.recipe {
  border: 0.1rem solid black;
  border-radius: 15px;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: flex-start;*/
}

.grid > a  {
  text-decoration: none;
  color:black;
}

.recipe > #recipeImg {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*margin: 0 auto; !* to put the img in thec center of the box *!*/

}

.recipe > #title > span, .recipe > #duration, .recipe > #difficulty {
  margin-left: 4%;
}
.recipe > #title {
  background-color: darkgray;
  font-weight: bold;
  font-size: larger;
}



.moreRecipesButton, .saveChangesButton {
  display: block;
  margin-left:auto;
  margin-right:auto;
  background-color: rgb(115, 192, 200);
  border-radius:3rem;
  border: rgb(115, 192, 200);
  font-size: 1.3rem;
  padding: 5px 10px;
  color: #000000;
  margin-bottom: 1%;
}
.moreRecipesButton:hover, .saveChangesButton:hover {
  background-color: #00e9ff;
}


@media screen and (min-width: 881px) {

  /* Hide mobileHeader(image as independent element) when we are on desktop viewport */
  #mobileHeader{
    display: none;
  }

  nav > .dropdown {
    display: none;
  }

  header {
    margin-top: -0.5rem;
    display:grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 50vh;
    grid-template-areas:
      "name nav"
      "search search";
    text-align: center;
    font-size: 1rem; /* 1rem = default browser pixels(16px)  */
    font-weight: 800; /* above 700 bold font */
    text-transform: uppercase; /* makes the text uppercase */
    background-image:url("../Images/food.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    /*margin-bottom: -3rem;*/
  }

  #name > h3, nav > ul {
    color:white;
    background-image: linear-gradient(rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.7) 20%);
    margin-top:0;
    height:18%;
    display: flex;
    align-items: center;
  }

  #search {
    grid-area: search;
  }

  #search > form {
    display: flex;
    justify-content:center;
  }

  #name > h3 {
    justify-content: center;
  }
  nav > ul {
    justify-content: center;
  }
  ul {
    padding-inline-start: 10% !important;
  }

  /* fix size of search icon */
  .fa {
    font-size: medium !important;
  }

  nav > ul > li {
    list-style-type: none;
  }
  nav > ul > li:not(:last-child){
    margin-right: 4%;
  }

  nav > ul > li > a {
    text-decoration: none;
    color:white;
  }

  #name{
    /* background: #18ffff; */
    grid-area: name;
  }
  nav{
    /* background: #18ffff; */
    grid-area: nav;
  }


  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;

    max-width: 800px;
    margin: 0 auto 20px;
    margin-top:5%;
  }
}

@media screen and (max-width: 880px) and (min-width: 549px) {
  /* tablet*/
  nav > .dropdown {
    display: none;
  }

  header {
    background-image:none;
    display:grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 8vh 30vh 5vh;
    grid-template-areas:
      "name nav"
      "image image"
      "search search";
    text-align: center;
    font-size: 1rem; /* 1rem = default browser pixels(16px)  */
    font-weight: 800; /* above 700 bold font */
    text-transform: uppercase; /* makes the text uppercase */
  }

  #name > h3, nav > ul, #search > form {
    color:black;
    margin-top:0;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav > ul > li {
    margin-right:5%; /* put some space between the navbar elements */
    list-style-type: none; /* bullets disappear from the list */
  }
  nav > ul > li > a {
    text-decoration: none; /* remove the href underline */
    color:black;
  }

  /* fix size of search icon */
  .fa {
    font-size: medium !important;
  }

  #mobileHeader{
    grid-area: image;
    background-image:url("../Images/food.jpg");
    display: unset;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
  }
  #name{
    grid-area: name;
  }
  nav{
    grid-area: nav;
  }
  #search {
    grid-area: search;
    margin-top:5%;
  }


  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;

    max-width: 550px;
    margin: 0 auto 20px;
    margin-top:10%;

  }
}

@media screen and (max-width: 549px ) {
  /* smartphone/smaller tablets*/
  nav > ul {
    display: none;
  }
  nav > .dropdown {
    display: unset;
  }

  header {
    margin-left: -3%;
    margin-right: -3%;
    background-image:none;
    display:grid;
    grid-template-columns: 1fr 0.7fr;
    grid-template-rows: 8vh 30vh 5vh;
    grid-template-areas:
      "name nav"
      "image image"
      "search search";
    text-align: center;
    font-size: 1rem; /* 1rem = default browser pixels(16px)  */
    font-weight: 800; /* above 700 bold font */
    text-transform: uppercase; /* makes the text uppercase */
  }

  /* Dropdown settings */
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display:inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1;}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right:10%;
  }

  #name > h3, #search > form{
    color:black;
    margin-top:0;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* fix size of search icon */
  .fa {
    font-size: medium !important;
  }

  #mobileHeader{
    grid-area: image;
    background-image:url("../Images/food.jpg");
    display: unset;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
  }

  #name{
    grid-area: name;
  }
  nav{
    grid-area: nav;
  }
  #search {
    grid-area: search;
    margin-top: 5%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;

    max-width: 250px;
    margin: 0 auto 20px;
    margin-top:10%;
  }
}


