body {
    margin: 0 0;
    background-color: #dcfafc;
}

.goToHomePage, .goToLoginPage {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background-color: lightblue;
    border-radius:3rem;
    font-size: 1.2rem;
}

.form-parent {
    background-color: white;
    margin:0 auto;
    width:500px;
    margin-block:3rem;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid blue;
    box-sizing: border-box;
}
#registerBtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.avatar {
    text-align:center;
    margin: 12px 0 12px 0;
}

@media screen and (max-width: 700px) {
    .form-parent {
        width:400px;
    }
}

@media screen and (max-width: 480px) {
    .form-parent {
        width:250px;
    }

}

#parent-successful_registration {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

/* Success registration */
#successful_registration {
    /*margin-top:5%;*/

    box-sizing: border-box;
    width:300px;
    display: flex;
    flex-direction:column;
    align-items:center;
    padding:1rem;
    background-color: bisque;
}