body{
  background-color: rgb(27, 27, 27);
}

@media screen and (min-width: 830px) {
  
  header {
    margin-top: -0.5rem;
    display:grid;

    width: 100%;
    height: 100%;

    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 10vh 30vh 30vh;

    grid-template-areas:
      'name nav'
      'label label'
      'button button';
    text-align: center;
    font-size: 1rem; /* 1rem = default browser pixels(16px)  */
    font-weight: 800; /* above 700 bold font */
    text-transform: uppercase; /* makes the text uppercase */
    background-image:url("landing-background.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100vw 100vh;
    
    
  }
  
  /* Put in the center of the grid box (name, label, landing button) */
  #name, #label, .landingButton {
    display:flex;
    justify-content:center;
    align-items:center;

  }
  
  /* Specify grid areas */

  #name{
    grid-area: name;
    color: white;
  }

  nav{
    grid-area: nav;

    /* Put navbar vertically to the center and horizontally to thr right */
    display:flex; 
    justify-content:flex-end; /* horizontal pos */
    align-items: center; /* verticall pos */
    margin-right:5%; /* just put away a little from the right */
  }

  #label{
    grid-area: label;
    color: white;
  }

  .landingButton {
    grid-area: button;
  }

  .landingButton > a {
      width: 30%;
      height: 5%;
      background-color:#000000;
      border-radius:50px;
      border:1px solid #000000;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:1.2rem;
      padding:14px 31px;
      text-decoration:none; 
  }
    
  .landingButton > a:hover {
    background-color:#ffffff;
    color: #000000;
  }

  .landingButton > a:active {
    position:relative;
    top:1px;
  }

 

  nav > ul {
    color:white;
    background-image: linear-gradient(rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.7) 20%);
    margin-top:0;
    height:38%;
    width:20%;
    display:flex;
    justify-content: center;
    align-items:center;
  }
  
  
  nav > ul > li {
    list-style-type: none;
    font-size: 1.5rem;
  }
  nav > ul > li > a {
    text-decoration: none;
    color:white;
  }


}